/build/Desktop_Qt_6_9_3_MinGW_64_bit-Debug/.cmake/api/v1/query
/build/Desktop_Qt_6_9_3_MinGW_64_bit-Debug/.cmake/api/v1/reply.prev
/build/Desktop_Qt_6_9_3_MinGW_64_bit-Debug/.cmake/api/v1/reply
/build/Desktop_Qt_6_9_3_MinGW_64_bit-Debug
